/*插件区>幻灯片内置样式*/
.slide_focus{width:100%;position:relative;z-index:1;margin:0px auto;overflow:hidden;}


.slide_focus .inner li.zy_move{position:static;float:left;} /*左右滚动css*/






/*纯按钮样式*/
.slide_focus .panel{position:absolute;clear:both;z-index:5;left:50%;bottom:15px;}
.slide_focus .panel span{display:block;float:left;width:10px;height:10px;border-radius:5px;background-color:#ccc;margin-right:8px;cursor:pointer;filter:alpha(opacity=90);opacity:0.9;position:relative;behavior:url(/e/incs/pie/PIE.htc);}
.slide_focus .panel span em{display:none}
.slide_focus .panel span.current{background-color:#fff;}


