/* Configuration of menu width */


/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
*/


html body ul#nav ul
,html body ul#nav ul li {
width:200px;
}

html body ul#nav ul ul {
margin:0 0 0 200px;
}


/* Theming the menu */


ul#nav {
float:left;
font-size:120%;
border:solid #249fc9;
border-width:0 5px 0 5px;
}


ul#nav ul {
border-bottom:5px solid #249fc9;
background:#fff;
}



ul#nav li a {
padding:12px 35px;
font-family:"Lucida Sans","Century Gothic","Franklin Gothic Book","Franklin Gothic",helvetica,arial,verdana,sans;
text-decoration:none;
background:#000;

color:#fff;
}





ul#nav ul li a {
padding:10px 10px;
}


ul#nav li a:hover
,ul#nav li a:focus {background:#249fc9;
}


ul#nav span.sf-arrow {
top:28px;
right:6px;}


ul#nav ul span.sf-arrow {
right:12px;
top:16px;
}
